@charset "utf-8";

/*-------------------------------------*/

body{
	background: #DDDED3;
	line-height: 1.8;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	margin: 20px;
}

div#wrapper{
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

/*-------------------------------------*/
/* ヘッダー */
/*-------------------------------------*/

div#headerBg{
	background: #fff;
}

div#header{
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

	div#header h1{
		font-size: 20px;
		float: left;
		width: 300px;
		color: #333;
		letter-spacing: 0.05em;
		padding: 20px 0 15px 0;
	}

/*-------------------------------------*/
/* グローバルナビゲーション */
/*-------------------------------------*/

ul#gNavi{
	width: 600px;
	float: right;
	margin-top: 15px;
}

ul#gNavi li{
	display: block;
	float: right;
	padding: 8px 0;
	margin-left: 16px;
	font-size: 13px;
	letter-spacing: 0.08em;
}

ul#gNavi li a{
	color: #666;
	text-decoration: none;
	border-right: 1px solid #ccc;
	display: block;
	padding-right: 16px;
}

ul#gNavi li a:hover{
	color: #a69e7b;
}

ul#gNavi li.firstItem a{
	padding-left: 16px;
	border-left: 1px solid #ccc;
}

/*-------------------------------------*/
/* テ-ブル */
/*-------------------------------------*/

table.brwsr1 {
    font-size: 12px;
    margin: 0px;
    border-collapse: separate;
    border-spacing: 0px 1px;
}

table.brwsr1 th {
    padding: 12px;
    vertical-align: middle;
    text-align: left;
    border-bottom: #999 1px solid;
    color: #fff;
}

table.brwsr1 td {
    padding: 12px;
    vertical-align: middle;
    text-align: left;
    border-bottom: #999 1px solid;
    font-size: 11px;
}

table.brwsr1 th.r0 {
    width: 40px;
    border-right: #999 1px solid;
    background: #395084;
}

table.brwsr1 th.r1,
table.brwsr1 td.r1 {
    width: 152px;
    border-left: #fff 1px solid;
    border-right: #999 1px solid;
    background: #447791;
}

table.brwsr1 th.r2,
table.brwsr1 td.r2 {
    width: 128px;
    border-left: #fff 1px solid;
    border-right: #999 1px solid;
    background: #5893b1;
}

table.brwsr1 th.r0,
table.brwsr1 th.r1,
table.brwsr1 th.r2,
table.brwsr1 th.r3,
table.brwsr1 th.r4,
table.brwsr1 td.r1,
table.brwsr1 td.r2,
table.brwsr1 td.r3,
table.brwsr1 td.r4 {
    text-align: center;
}

table.brwsr1 th.r3,
table.brwsr1 td.r3 {
    width: 128px;
    border-left: #fff 1px solid;
    border-right: #999 1px solid;
    background: #7cacc2;
}

table.brwsr1 th.r4,
table.brwsr1 td.r4 {
    width: 128px;
    border-left: #fff 1px solid;
    background: #a0c2d3;
}

/*-------------------------------------*/
/* フッター */
/*-------------------------------------*/

div#footer{
	text-align: center;
	background: #333;
}

div#footer p#copyright{
	text-align: center;
	padding: 5px;
	color: #fff;
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif!important;
}
